@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    font-family: 'Roboto', sans-serif;
}
.processing{
    @apply text-orange-300 bg-orange-50;
}
.approved{
    @apply text-green-300 bg-green-50;    
}
.secured{
    @apply text-red-300 bg-red-50;    
}
select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background-image: url(../down-arrow-svgrepo-com.svg);
   background-repeat: no-repeat;
   background-position: center right 15px;
   background-size: 25px;
}